<div class="row">

    <div class="col-9">
        <h3>Instructions</h3>
        <hr/>
        <ul>
            <li>
                Each set having 10 questions and time duration 15 minutes
            </li>
            <li>
                Please dont refresh the page
            </li>
            <li>
                Dont try to use to use google for searching
            </li>
            <li>
                Dont minimize the browser or change the tab, automatically the application will close
            </li>
        </ul>
        <h3> Before starting the exam:</h3>
        <hr>
        <p>
            Please verify that the student's last name appears correctly within the User ID box
        </p>
        <h3>During the exam:</h3>
        <hr>

        <ul>
            <li>The student may not use his or her textbook, course notes, or receive help from a proctor or any other outside
                source.
            </li>
            <li>Students must complete the 50-question multiple-choice exam within the 75 minute time frame allotted for the
                exam.
            </li>
            <li>Students must not stop the session and then return to it. This is especially important in the online environment
                where the system will "time-out" and not allow the student or you to reenter the exam site.</li>

        </ul>
        <h3> What to do if your online exam is interrupted</h3>
        <hr>          
        <ul>
            <li>
                If your online exam is interrupted, click the “Back” button on your web browser to see if you can return to the exam. If
                not, follow the instructions below to resume taking the exam. Note: Answers are saved by the system in 10-minute
                intervals. If you have to log back in to complete your exam, your prior answers will be remain from the last
                system-save.
            </li>
            <li>Reconnect to the Internet and log back into Blackboard.</li>
            <li>Follow your original instructions to access the exam login page.</li>
            <li>Ask your proctor to re-enter the Username and Password, then select the check box "Show list of unfinished exams,
                only select to re-enter an exam already in progress." This will enable you to resume taking the exam, close
                to the point before the interruption occurred.</li>
            <li>Have your Proctor enter the Username and Password provided in the email from The College and click enter.</li>
        </ul>






    </div>
    <div class="col-3 text-right">
        <a [routerLink]="['/exam/exam']"> Start here
            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>