<!--<h2>User Details</h2>
<ng2-smart-table [settings]="settings" [source]="characters" (edit)='rowSelectEvent($event)'></ng2-smart-table>
-->






<div class="row" (contextmenu)="selectedName=false;showlist=false">
    <div class="col-lg-12 col-md-12 col-sm-12" >
      <section class="employee-height">
        <div class="row" >
          
          <!-- <input type="file" id="inputtest" hidden /> -->
          <!-- <div class="col-lg-3 col-md-3 Add-employee-flex">
           
          </div> -->
          <div class="col-lg-4 col-md-4 Add-employee-flex">
              <button class="add-emp-but mar-t-11" style="margin-right: 10px !important;" (click)="openDialog()"> <img src="assets/images/Group23.png"
                class="add-emp-pad">Add Students</button>
            <button class="add-emp-but mar-t-11"  (click)="selectfile()" > <img src="assets/images/exceldata.png"
              class="add-emp-pad" >Import Data</button>
          </div>
          
  
        </div>
  
  
       
        <!-- Central Modal Small -->
  
        <div class="loader1" *ngIf="isloading"></div>
        <div class="row  mt-5">
          <div class="table-responsive">
            <table class="table table_space table-fixed cntraln w-100 d-block d-md-table table-responsive tblresp tdpadng11">
              <thead class="thcolor tab-bg" *ngIf=" compleusersdata &&compleusersdata.length!=0">
                <tr>
                  <th class="table_td_pad tblwdth">
                     Name
  
                     </th>
  
                  <th class="table_td_pad tblwdth">
                    Father Name
  
                    </th>
                  <th scope="col" class="table_td_pad tblwdth">Gender</th>
                  <th scope="col" class="table_td_pad tblwdth">Mobile Number</th>
                  <th scope="col" class="table_td_pad tblwdth">Email</th>
                  <th scope="col" class="table_td_pad tblwdth">Course</th>
                  <th scope="col" class="table_td_pad tblwdth">Status</th>
                  <th scope="col" class="table_td_pad tblwdth">Aadhar</th>
                  <th scope="col" class="table_td_pad tblwdth">Admission No</th>

  
                  <!-- <th scope="col" class="table_td_pad">
                    Actions
                  </th> -->
                </tr>
              </thead>
  
  
              <tbody class="tdatacol headfont fon-14 fw-4 pl-point">
                 
                <tr class="showbutton " *ngFor="let element of compleusersdata;let i = index" [ngClass]="{'employee-tr-inactive' :element}">
                  
                     
              
                  <td *ngIf="element &&element.fname">
                    {{element.fname}}
  
                  </td>
                  <td *ngIf="element &&element.name">
                    {{element.name}}
  
                  </td>
  
                  <td>{{element.fathername}}
  
                  </td>
  
                  <td>{{element.gender}}
  
                  </td>
  
                  <td>{{element.mobilenumber}}
  
                  </td>
                  <td>
                    <p class="tex-over employee-email mb-0"   >{{element.email}}</p>
                  </td>
                  <td *ngIf="element.course">{{element.course}}</td>
  
                  <td *ngIf="!element.course">Not Assigned</td>
  
  
                  <td  *ngIf="!element.status">
                       Pending
                    </td>
                    <td *ngIf="element.status">
                  {{element.status}}
  
                    
                  </td>
                           <td >
  {{element.aadhar}}
                            </td>
                            <td>{{element.admissionno}}</td>
  
                
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
        <!-- ==============================no employees found ================================================== -->
        <div *ngIf=" compleusersdata && compleusersdata.length==0 ">
  
  
          <div class="nodepart-imag">
            <div>
              <img src="assets/images/Group4328.png">
            </div>
            <p class="nodepart-content">No Users Found</p>
            <div>
              <button class="add-dep-but" data-toggle="modal" (click)="openDialog()"><img src="assets/images/Group4318.png"
                  class="add-new-emp-pic-pad">Add New User</button>
            </div>
           
            
  
          </div>
   
  
  
        </div>
  
  
        <!-- ==============================no employees found ================================================== -->
  
  
       
  
      </section>
    </div>
  
  </div>
  
  
  <div> <input type="file" style="display: none" id="selectinputfile" #fileInput (change)="adddatafromexcl()" accept=".xls,.xlsx">
          
        
  </div>
  
  